<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.guru.github"/>

    <bean id="proxyService" factory-bean="ProxyServiceImpl" factory-method="getProxyService"/>

    <bean id="runner" class="org.apache.commons.dbutils.QueryRunner">
        <constructor-arg name="ds" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/demobase"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- AOP 面向切面编程-->
    <!-- 在运行期间 不修改代码对已有方法进行增强 减少重复代码 提高实现效率 维护方便-->
    <!-- 通过预编译方式和运行期动态代理实现程序功能的统一维护的一种技术 是OOP的延续 是函数式编程的一种衍生-->

    <!-- 133 -->
</beans>